body{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

header {
	height: 131px;
}

canvas{
	overflow: hidden;
	background-color: white;
}

h1 {
	font-family: 'Delius Unicase', cursive;
}

#toolbar>a {
	display: inline-block;
	height: 2em;
	width: 2em;
}