<div>
	<header>
		<h1 class="md-primary"><span>Canvas Drawing!</span></h1>
		<h2 md-colors="{color:'accent'}"><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></h2>
	</header>
	<div id="admin-ui">
		<content>
		<table>
			<thead>
				<tr>
					<th>Username</th>
					<th>Password</th>
					<th>Active</th>
					<th  style="width:90px;">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in admin.users">
					<td>
						<md-input-container>
						<label>Username</label> 
						<input ng-model="user.username" readonly> </md-input-container>
					</td>
					<td>
						<md-input-container>
						<label>Password</label> 
						<input ng-model="user.password"></md-input-container>
					</td>
					<td>
						<md-input-container> <input
							ng-model="user.active" type="checkbox" aria-label="active"> </md-input-container>
					</td>
					<td> 
						<md-button class="md-accent md-raised" ng-click="admin.saveUser(user)" href="#">Save</md-button>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td>
						<md-input-container> <label>Username</label>
						<input ng-model="admin.newUser.username" required> </md-input-container>
					</td>
					<td>
						<md-input-container> <label>Password</label>
						<input ng-model="admin.newUser.password" required> </md-input-container>
					</td>
					<td>
						<md-input-container> <input
							ng-model="admin.newUser.active" type="checkbox" aria-label="active"> </md-input-container>
					</td>
					<td>
						<md-button class="md-accent md-raised" ng-click="admin.createUser()" href="#">Create</md-button>
					</td>
				</tr>
			</tfoot>
		</table>
		</content>
	</div>
</div>